body{
    background-color: black;
}

.house{
    margin-left: 450px;
    margin-top: 150px;
}

.roof{
    display:block;
    border-bottom: 200px solid sienna;
    border-left: 210px solid;
    border-right: 210px solid;
    width: 0px;
    height: 0px;
}

.facade{
    display: block;
    width: 320px;
    height: 200px;
    border-left: 50px solid;
    border-right: 50px solid;
    background-color: tan;
}

.door{
    display: block;
    width: 100px;
    height: 150px;
    background-color: red;
    position: absolute;
    margin-left: 40px;
    margin-top: 47px;
    border-width: 3px 3px 0px 3px;
    border-color: white;
    border-style: solid;
}

.doorknob{
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: orange;
    margin-left: 10px;
    margin-top: 80px;
    border-radius: 20px;
}

.window{
    display: block;
    width: 100px;
    height: 100px;
    background-color: lightblue;
    position: absolute;
    margin-left: 170px;
    margin-top: 47px;
    border: 5px solid white;
}

.horizontal{
    display: block;
    width: 100px;
    height: 3px;
    background: white;
    position: absolute;
    margin-top: 50px;
}

.vertical{
    display: block;
    width: 3px;
    height: 100px;
    background: white;
    position: absolute;
    margin-left: 48px;
}